html {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="18" style="font-size:14px"><text y="16">💸</text></svg>'), auto;
}

.currency-tiles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 2rem;
  grid-auto-rows: 1fr;
  padding: 2rem;
}

footer {
  margin-top: 2em;
}